.header{
margin: 0 auto;
}
.header__container{
display: flex;
justify-content: space-between;
width: 100%;
}
.header__logo{

}
.header__logo-container{

}
.header-main-nav{

}
.header__nav-link{

}
.header__btn-group{
  display: flex;

}
.header__btn-number {

}
.header__btn-basket{

}
.container{
  width: 100%;
  max-width: 1150px;
  padding: 0 50px;
  margin: 0 auto;
  box-sizing: border-box;
}